@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin);



/*-- scss:defaults --*/
$font-family-sans-serif: 'Lato';
$presentation-font-size-root: 1.6em;
$max-width: 1800px;
$margin-left: auto;
$margin-right: auto;
$presentation-line-height: 1.5;

$selection-bg: #0080FF!default;
$presentation-heading-color: #0080FF !default;

$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.6em;

